@import "functions";

html {
	font-family:              $light, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
    font-size:                62.5%; /* 62.5% == 1.0rem == 10px */
}

body {
	margin: 0;
}
html, body {
    margin:  0;
    padding: 0;
    height:  100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
	display:        inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height:  0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-family: $bold, sans-serif;
	font-weight: $normal;
	/*font-weight: 700;*/
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size:      75%;
	line-height:    0;
	position:       relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color:  inherit;
	font:   inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor:             pointer;
}

button[disabled],
html input[disabled] {
	cursor:  default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border:  0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin-right:       0.4375em;
	padding:            0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border:    1px solid #d1d1d1;
	margin:    0 0 1.75em;
	min-width: inherit;
	padding:   0.875em;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border:  0;
	padding: 0;
}

textarea {
	overflow:       auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}
a {
    color: inherit;
	text-decoration: none;
    @include transition(color .2s);
}
