@import "variables";
@import "functions";

.contacts-container {
	margin-top: 20px;
	min-width:  $width;
	width:      100%;

	.contacts-menu {
		background:  #3cd0c8;
		color:       $white;
		font-size:   24px;
		font-size:   2.4rem;
		padding:     20px 0;
		text-align:  center;

		.menu-container {
			margin:   0 auto;
			position: relative;
			width:    900px;

			ul {

				li {
					padding:    8px 0;
					text-align: center;
					width:      33%;

					a:hover {
						color: $white;
					}
				}
				li:hover, li.active {
					font-family: $bold;
				}
			}

			.form-active {
				background:  url(../img/form-active.png) 0 0 no-repeat;
				bottom:      -20px;
				display:     none;
				height:      15px;
				margin-left: -12px;
				position:    absolute;
				width:       24px;
				@include transition(left .2s);
			}
			#general-inquiry.form-active {
				display: block;
				left:    16.6666%;
			}
			#request-a-kit.form-active {
				display: block;
				left:    50%;
			}
			#careers.form-active {
				display: block;
				left:    83.3333%;
			}
		}

	}

	.contacts-content {
		background: $grey;
		overflow:   hidden;
		@include transition(height .4s);

		.form-container {
			margin:   0 auto;
			padding:  12px 200px;
			position: relative;
			width:    900px;

			.form-row {
				padding: 12px 0;

				.form-cell {
					color:     $dark;
					display:   inline-block;
					font-size: 18px;
					font-size: 1.8rem;
				}
				.form-cell.label {
					vertical-align: middle;
					width:          175px;
				}
				.form-cell.input {
					vertical-align: middle;
					width:          325px;
				}
				.form-cell.select {
					height:   36px;
					position: relative;
				}

				.form-span-select {
					background:    $white url(../img/select-arrow.png) 97% 50% no-repeat;
					border:        1px solid $dark50;
					border-radius: 2px;
					height:        36px;
					padding:       4px 8px;
					width:         240px;
				}
				.form-span-select.large {
					width: 325px;
				}

				a {
					color:       $blue2;
					font-family: $bold;
				}
				a:hover {
					color: $blue;
				}

				input.form-input, textarea.form-textarea {
					border:        1px solid $dark50;
					border-radius: 2px;
					padding:       4px 8px;
				}
				input.form-input, textarea.form-textarea, input.form-submit {
					outline: none;
				}
				input.form-input {
					height: 36px;
					width:  240px;
				}
				input.form-input.large {
					width: 325px;
				}
				input.form-input.small {
					margin-right: 15px;
					width:        70px;
				}
				select.form-select {
					border:   0;
					cursor:   pointer;
					height:   36px;
					left:     0;
					opacity:  0;
					outline:  none;
					position: absolute;
					top:      0;
					width:    325px;
				}
				textarea.form-textarea {
					color:     $dark30;
					font-size: 18px;
					font-size: 1.8rem;
					height:    152px;
					resize:    none;
					width:     500px;
				}
				textarea.form-textarea.active {
					color: $dark;
				}
				input.form-checkbox {
					margin-left: 4px;
				}
				input.form-submit {
					background:    $red3;
					border:        none;
					border-bottom: 2px outset $red1;
					border-radius: 4px;
					color:         $white;
					font-family:   $bold;
					font-size:     18px;
					font-size:     1.8rem;
					height:        48px;
					width:         155px;
					@include transition(border .05s);
				}
				input.form-submit:active {
					border-bottom: none;
					border-top: 2px outset $red1;
				}

				input.form-input.mandatory, input.form-input.error, textarea.form-textarea.mandatory {
					border: 1px solid $red1;
				}
				label.mandatory {
					color: $red1;
				}
				input.form-input:disabled, input.form-checkbox:disabled, textarea.form-textarea:disabled {
					opacity: .5;
				}
			}
			.form-row.center {
				text-align: center;

				.g-recaptcha {
					display: inline-block;
					height:  78px;
    				margin:  0 auto;
				}
			}
			.form-row.small {
				font-size: 14px;
				font-size: 1.4rem;
			}
		}
		.form-container.hide {
			display: none;
		}
		.form-container.active {
			display: block;

		}
	}
}

.contact-maps {
	background: $grey;
	height:     840px;
	min-width:  $width;
	width:      100%;

	#map {
		height: 100%;
		width:  100%;
	}
}
