@import "variables";
@import "functions";

.homepage-intro {
    background:  $dark;
    /*padding-top: 15px;*/
    /*text-align:  center;*/

    .image {
        display:        inline-block;
        text-align:     center;
        padding:        80px 0;
        vertical-align: top;
        width:          60%;
    }

    .content {
        display:        inline-block;
        padding:        90px 0;
        width:          40%;

        h1 {
            color: $white;
        }

        p {
            color: $green5;
            /*line-height: 32px;
            line-height: 3.2rem;*/
        }
    }
}
.homepage-whatwedo {
    height: 560px;
    overflow: hidden;

    .column {
        display:        inline-block;
        padding:        50px;
        vertical-align: top;
        width:          50%;

        h1 {
            margin-top: 55px;
            text-align: center;
            width:      80%;
        }

        .feat {
            margin-bottom: 15px;

            .feat-div {
                display:        inline-block;
                height:         100px;
                vertical-align: top;
            }
            .feat-icon {
                width: 120px;
            }
            .feat-name {
                font-family: $bold;
                font-size:   24px;
                font-size:   2.4rem;
                max-width:   220px;
            }
            .feat-button {
                background: url(../img/home-feat-btn.png) 50% 50% no-repeat;
                cursor:     pointer;
                width:      60px;
            }
            .feat-button.close {
                background: url(../img/home-feat-btn-2.png) 50% 50% no-repeat;
            }
            .feat-content {
                background: $grey2;
                display:    none;
                margin:     10px;
                padding:    15px;
                width:      400px;
            }
        }
    }
}
.homepage-features {
    background: $grey2;

    .column {
        display:        inline-block;
        padding:        0 1px;
        text-align:     center;
        vertical-align: top;
        width:          25%;

        img {
            width: 100%;
        }

        .content {
            padding: 45px 0;

            .title {
                color:     $red4;
                font-size: 24px;
                font-size: 2.4rem;
            }
            p {
                font-size: 21px;
                font-size: 2.1rem;
            }
        }
    }
}

.homepage-customers {
    height: 800px;
    min-width: $width;
    position:  relative;

    .background {
        background: $dark;
        height:     100%;
        left:       50%;
        position:   absolute;
        top:        0;
        width:      50%;
    }

    .container {
        position: relative;

        .column {
            display:        inline-block;
            height:         800px;
            padding:        50px 0;
            text-align:     center;
            vertical-align: top;
            width:          50%;

            /*
            .slides {
                height:   525px;
                position: relative;

                .slide {
                    font-size:  36px;
                    font-size:  3.6rem;
                    height:     525px;
                    left:       0;
                    position:   absolute;
                    top:        0;

                    .quote {
                        font-style:    italic;
                        margin-bottom: 25px;
                    }
                    .source {
                        color: $red4;
                    }
                }
            }
            */

            .customers-title {
                color: $white;
                height: 525px;
                padding: 50px 0 0;

                h1 {
                    border-bottom: 3px solid $red4;
                    display:       inline-block;
                }
            }
        }
    }
}

.homepage-keymarkets {
    background: $grey2;

    .column {
        display:    inline-block;
        height:     400px;
        text-align: center;
        width:      50%;

        .keymarkets-title {
            color: $dark;

            h1 {
                border-bottom: 3px solid $green5;
                display:       inline-block;
            }
        }

        .keymarket {
            display:    inline-block;
            height:     140px;
            text-align: center;
            width:      170px;

            .label {
                color:     $green5;
                font-size: 24px;
                font-size: 2.4rem;
                padding:   10px 0 0;
            }
        }
    }
}




.homepage-deployment {
    background: $grey;
    min-width:  $width;
    width:      100%;

    .cage {
        position: relative;
    }

    .image-container {
        margin: 0 auto;
    }

    .deployment-label-container {
        left:       0;
        position:   absolute;
        text-align: center;
        top:        29px;
        width:      100%;

        .deployment-label {
            background:  $white;
            display:     inline-block;
            line-height: 1;
            padding:     15px 25px;
            @include box-shadow(0 0 5px $black2);

            h1 {
                margin: 0;
            }
        }
    }
}

.homepage-automotive {
    padding-top: 10px;

        h1 {
            text-align: center;
        }

        .box-container {
            margin-bottom: 20px;

            .box-content {
                display:        inline-block;
                vertical-align: top;
                width:          324px;

                p {
                    font-size:   14px;
                    font-size:   1.6rem;
                    line-height: 28px;
                    line-height: 2.4rem;
                    margin:      0;
                }

                .box-red {
                    background: $red2;
                    display:    inline-block;
                    padding:    26px 38px;
                    width:      100%;

                    p {
                        color: $white;
                    }
                }
            }
            .box-content.wide {
                padding-right: 30px;
                width:         350px;
            }
        }

        .box-image-container {
            background: $grey;
            min-width:  $width;
            width:      100%;
    }
}
