@import "variables";
@import "functions";

.search-container {
	padding: 30px 0;

	.search-result {
		background: $grey;
		margin:     10px 0;
		padding:    21px 26px;

		h4 {
			color:     $green4;
			font-size: 28px;
			font-size: 2.8rem;
			margin:    10px 0;

			@include transition(color .2s);
		}
	}

	a:hover {

		.search-result {

			h4 {
				color: $green2;
			}
		}
	}
}
