@import "variables";
@import "functions";

.technology-intro {
	background: $grey2;
	min-width:  $width;
	width:      100%;

	.column {
		display:        inline-block;
		height:         390px;
		margin:         65px 0;
		vertical-align: top;
		width:          50%;

		.intro-content {
			margin-left: 50px;
			width:       350px;
		}
		.intro-img {
			max-width: 480px;
		}
	}

	/*
	.intro-background {
		background: url(../img/bg-green.png) 0 0 repeat-x;
		height:     369px;
		position:   absolute;
		right:      0;
		top:        0;
		width:      50%;
	}

	.intro-container {
		min-height:  369px;
		padding-top: 30px;
		position:    relative;

		.intro-content {
			display:        inline-block;
			margin-right:   50px;
			vertical-align: top;
			width:          410px;

			h1, h2, h3, h4 {
				margin-top: 0;
			}
		}

		.intro-image {
			display:        inline-block;
			padding-bottom: 40px;
			vertical-align: top;

			img {
				display:   block;
				max-width: 480px;
			}
		}
	}
	*/

}

.technology-platform {
	padding:    25px 0 75px;
	text-align: center;

	h1 {
		border-bottom: 3px solid $red4;
		display:       inline-block;
	}
	h2 {
		color:      $grey;
		margin:     0;
		text-align: left;
	}
	p strong {
		font-size: 20px;
		font-size: 2.0rem;
	}
}

/*
.technology-hardware {
	padding:    30px 0;
	text-align: center;

}
*/

.technology-cloud {
	background:  $grey2;
	padding-top: 30px;
	position:    relative;

	.cloud-image {
		display:        inline-block;
		vertical-align: bottom;
		width:          33.33%;

		img {
			display: block;
			margin:  0 auto;
		}
	}

	.cloud-content {
		display:        inline-block;
		padding:        65px 0 0 75px;
		vertical-align: top;
		width:          66.66%;

		.cloud-text {
			padding-right: 140px;

			p {
				font-size: 1.6rem;
			}
		}

		.cloud-icons-container {
			overflow: hidden;
			position: relative;
			width:    600px;

			.cloud-icons {
				left:     0;
				position: relative;
				top:      0;
				width:    2000px;
				@include transition(left .4s);

				.cloud-icon {
					border:         1px solid $blue;
					border-radius:  50%;
					cursor:         pointer;
					display:        inline-block;
					height:         120px;
					margin-right:   39px;
					text-align:     center;
					vertical-align: middle;
					width:          120px;
					@include transition(border-width .2s, border-color .4s);

					h1, h2, h3, h4 {
						margin: 0.5em 0 0;
					}

					img {
						display: block;
						margin:  0 auto;
					}
				}
				.cloud-icon.last {
					margin-right: 0;
				}
				.cloud-icon:hover {
					border-width: 10px;
					border-color: $dark;
				}

				.icon-text-container {
					display:        inline-block;
					overflow:       hidden;
					vertical-align: middle;
					width:          0;
					@include transition(width .4s);

					.icon-text-content {
						border:  1px solid $blue;
						padding: 20px 15px;
						width:   300px;

						p {
							font-size: 16px;
							font-size: 1.6rem;
							margin:    0;
						}
					}
				}

				.icon-text-container.active {
					width: 442px;
				}
			}
		}
	}

	.app-label {
		background:  $red2;
		bottom:      84px;
		color:       $white;
		/*font-family: $raleway;*/
		font-size:   14px;
		font-size:   1.4rem;
		left:        0;
		padding:     2px 8px;
		position:    absolute;
	}

}

.technology-slides {
	height: 800px;
	padding: 80px 0;

	.cage {
		height: 100%;
	}
}

.technology-devices {
	height: 800px;

	.column {
		display: inline-block;
		height:  100%;
		text-align: center;
		width:   50%;

		.semi-cage {
			height: 100%;
			width: 512px;
		}
	}
	.column.clm-left {
		background: #eaebef;

		.semi-cage { float: right; }
	}
	.column.clm-right {
		background: #f2f2f2;

		.semi-cage { float: left; }

		h1 {
			font-size: 60px;
			font-size: 6.0rem;

			span {
				border-bottom: 3px solid $red4;
			}
		}

		p {
			margin-left: 80px;
			text-align: left;
			width: 380px;
		}
	}
}
