@import "variables";
@import "functions";

.site-inner {
	padding-bottom: 310px;
	position: relative;
}
.site-inner.contacts {
	padding-bottom: 0;
}

.cage {
	margin: 0 auto;
	width: $width;
}

/*
.box-title {
	border:  1px solid $dark;
	color:   $dark;
	display: inline-block;
	padding: 8px 16px;

	h1 {
		margin: 0;
	}
}
*/

.text-box {
	padding: 22px 0 0 42px;
}

.page-container {
	padding: 10px 0 40px;
}

@import "body-company";
@import "body-contacts";
@import "body-homepage";
@import "body-search";
@import "body-solutions";
@import "body-technology";

.page-solutions {
	height:   320px;
	overflow: hidden;

	.page-box {
		display:        inline-block;
		position:       relative;
		vertical-align: top;
		width:          33.33%;

		img {
			display: block;
			height:  auto;
			width:   100%;
		}

		.page-abs {
			background:  url(../img/alpha80.png) 0 0 repeat;
			color:       $white;
			height:      100%;
			left:        0;
			opacity:     0;
			position:    absolute;
			text-align:  center;
			top:         0;
			visibility:  hidden;
			width:       100%;
			@include transition(opacity .2s, visibility .2s);

			.page-label {
				background:    $red3;
				border-radius: 3px;
				color:         $white;
				display:       inline-block;
				font-size:     16px;
				font-size:     1.6rem;
				line-height:   1;
				padding:       5px 25px;
				@include transition(background .2s);
			}
			.page-label:hover {
				background: $red1;
			}
		}
	}
	.page-box:hover {

		.page-abs {
			opacity:    1;
			visibility: visible;
		}
	}
}

.page-team {
	position: relative;

	.team-title {
		background: $green1;
		height:     100%;
		left:       0;
		position:   absolute;
		text-align: center;
		top:        0;
		width:      33.33%;

		h1, h2, h3, h4 {
			color: $white;
			line-height: 48px;
			line-height: 4.8rem;
		}

		img.team-arrow {
			float:  right;
			margin: 0 55px 180px 0;
		}
	}

	.team-content {
		display:     inline-block;
		margin-left: 33.33%;
		text-align:  center;
		width:       66.66%;

		.content-title {
			color: $dark;
			margin: 20px auto;

			h3 {
				margin: 14px;
			}
		}

		.content-container {
			vertical-align: top;

			.team-box {
				display:    inline-block;
				padding:    10px;
				text-align: left;
				width:      300px;

				img {
					display: block;
				}

				h1, h2, h3, h4 {
					color: $red3;
				}

				h4 {
					margin: 15px 0px;
				}

				p {
					font-size:   14px;
					font-size:   1.4rem;
					line-height: 22px;
					line-height: 2.2rem;
					margin:      0 0 10px;
				}
			}
		}
	}
}

.image-container {
	display:  inline-block;
	margin:   10px auto;
	position: relative;

	.image-content {
		height:   100%;
		left:     0;
		position: absolute;
		top:      0;
		width:    100%;

		.image-box {
			margin-top:  0;
			opacity:     1;
			position:    absolute;
			white-space: nowrap;
			z-index:     101;
			@include transition(margin-top .3s, opacity .4s, visibility .4s);

			p, ul {
				margin:     0 0 5px;
				text-align: left;

				li {
					display:     list-item;
					font-size:   16px;
					font-size:   1.6rem;
					line-height: 24px;
					line-height: 2.4rem;
					padding:     0;
					list-style:  disc;

					strong {
						font-size:   20px;
						font-size:   2.0rem;
						line-height: 1;
					}
				}
			}
		}

		.image-box.box-baloon {
			cursor: pointer;

			.baloon-container {
				background:    url(../img/alpha50.png) 0 0 repeat;
				background:    $blue2;
				color:         $white;
				opacity:       0;
				padding:       20px;
				position:      absolute;
				text-align:    left;
				visibility:    hidden;
				width:         270px;

				@include transition(bottom .2s, opacity .2s, visibility .2s, top .2s);

				h1, h2, h3, h4 {
					margin: 0;
				}

				p {
					font-size:   16px;
					font-size:   1.6rem;
					line-height: 28px;
					line-height: 2.8rem;
					margin:      0;
					white-space: normal;
				}
			}
			.baloon-container.tr {
				bottom:        90%;
				left:          -4px;
				margin-bottom: 20px;
			}
			.baloon-container.tl {
				bottom:        90%;
				right:         -4px;
				margin-bottom: 20px;
			}
			.baloon-container.br {
				left:       -4px;
				margin-top: 20px;
				top:        90%;
			}
			.baloon-container.bl {
				right:      -4px;
				margin-top: 20px;
				top:        90%;
			}
			.baloon-container.show {
				opacity:    1;
				visibility: visible;
			}
			.baloon-container.show.tr,
			.baloon-container.show.tl {
				bottom: 100%;
			}
			.baloon-container.show.br,
			.baloon-container.show.bl {
				top: 100%;
			}
		}

		.image-box.hidden {
			margin-top: 20px;
			opacity:    0;
			visibility: hidden;
		}

		.hover-img {
		    opacity:    0;
		    visibility: hidden;
		    @include transition(opacity .5s, visibility .5s);
		}
		.hover-img.active {
		    opacity:    1;
		    visibility: visible;
		}

		.hover-button {
		    cursor:   pointer;
		    height:   51px;
		    right:    19px;
		    position: absolute;
		    top:      25px;
		    width:    176px;
			z-index:  100;

			.hover-img {
				left:       0;
				opacity:    visibility;
				position:   absolute;
				top:        0;
				visibility: hidden;
				@include transition(opacity .2s, visibility .2s);
			}
		}
		.hover-button:hover {

			.hover-img {
				opacity:    1;
				visibility: visible;
			}
		}
	}
}

.kit-bar {
	background:  $red3;
	color:       $white;
	height:      80px;
	line-height: 1;
	@include transition(background .2s);

	.kit-link {
		background:     url(../img/kit-arrow-wide.png) 100% 50% no-repeat;
		font-size:      36px;
		font-size:      3.6rem;
		padding-right:  40px;
		text-align:     right;
		text-transform: none;
	}

	ul.keywords {
		font-family: $bold;
		font-size:   20px;
		font-size:   2.0rem;
		text-align:  center;
		text-transform: uppercase;

		li {
			padding: 0 40px;
		}
	}

	.cage {
		height: 100%;
	}
}
a:hover .kit-bar {
	background: $red1;
}

/*** Slides ***/
.slide-container {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;

	.slide-content {
		height: 100%;
		left: 0;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;
		@include transition(opacity .4s, visibility .4s);

		.slide-image { }
		.slide-title {
			color:       $green5;
			font-family: $light;
			font-size:   36px;
			font-size:   3.6rem;
			margin-top:  40px;
		}
		.slide-label {
			color:       $green5;
			font-family: $bold;
			font-size:   48px;
			font-size:   4.8rem;
			margin-top:  40px;
		}
		.slide-feats {
			padding-top: 40px;

			.feat-icon {
				border: 1px solid #333333;
				border-radius: 50%;
				color: $green5;
				display: inline-block;
				font-family: $light;
				font-size: 18px;
				font-size: 1.8rem;
				height: 125px;
				margin-right: 45px;
				text-align: center;
				vertical-align: middle;
				width: 125px;
			}
			.feat-icon.last { margin-right: 0; }
		}
		.slide-quote {
			font-size:     36px;
			font-size:     3.6rem;
			font-style:    italic;
			margin-bottom: 25px;
		}
		.slide-source {
			font-size: 36px;
			font-size: 3.6rem;
			color:     $red4;
		}
	}
	.slide-content.hidden {
		opacity: 0;
		visibility: hidden;
	}

	.slide-arrow {
		cursor: pointer;
		height: 34px;
		/*margin-top: -17px;*/
		position: absolute;
		top: 40%;
		width: 44px;
	}
	.slide-arrow.prev {
		background: url(../img/slider-prev.png) 50% 50% no-repeat;
		left: 5px;
	}
	.slide-arrow.next {
		background: url(../img/slider-next.png) 50% 50% no-repeat;
		right: 5px;
	}

	.slide-index-cont {
		bottom: 30px;
		position: absolute;
		text-align: center;
		width: 100%;

		.slide-index {
			background: url(../img/slider-index.png) 50% 50% no-repeat;
			cursor: pointer;
			display: inline-block;
			height: 22px;
			width: 28px;
		}
		.slide-index.selected {
			background: url(../img/slider-index-selected.png) 50% 50% no-repeat;
			cursor: auto;
		}
	}
}
