@import "variables";
@import "functions";

.company-team {
	background: $grey2;
	min-width:  $width;

	.column {
		display:        inline-block;
		height:         400px;
		margin:         40px 0;
		vertical-align: top;
		width:          50%;

		h1 {
			border-bottom: 3px solid $red4;
			display:       inline-block;
			margin-left:   200px;
			text-align:    right;
			width:         136px;
		}

		p {
			font-size: 32px;
			font-size: 3.2rem;
		}
	}

	/*
	text-align: center;

	.team-container {
		font-size: 0;
		text-align: left;

		.team-member {
			background: rgba(0, 0, 0, 0.11);
			border:   1.5px solid $white;
			display:  inline-block;
			height:   170px;
			position: relative;
			width:    16.6666%;

			.member-content {
				background:      url(../img/team-gradient.png) 50% 50% no-repeat;
				background-size: cover;
				height:          100%;
				padding:         5px 10px;
				position:        absolute;
				opacity:         0;
				overflow:        hidden;
				visibility:      hidden;
				top:             0;
				width:           100%;
				@include transition(opacity .2s);

				.content-text {
					bottom:   0;
					color:    $white;
					left:     0;
					padding:  10px;
					position: absolute;
					width:    100%;

					p {
						font-size: 14px;
						font-size: 1.4rem;
						margin:      0;

						strong {
							font-size: 20px;
							font-size: 2.0rem;
						}
					}
				}
			}

			img {
				display: block;
				height:  auto;
				width:   100%;
			}
		}
		.team-member.wide {
			height: 204px;
			width:  20%;

			.member-content {
				background: url(../img/board-gradient.png) 50% 50% no-repeat;
			}
		}
		.team-member:hover {

			.member-content {
				opacity:    1;
				visibility: visible;
			}
		}
	}
}
.company-team.grey {
	background: $grey2;
}

.company-board {
	text-align: center;
}

.company-investors {
	padding:    60px 0 80px;
	text-align: center;
	*/
}

.company-tbd {
	background: $black4;
	min-width:  $width;

	.column {
		display:        inline-block;
		height:         250px;
		margin:         240px 0;
		text-align:     center;
		vertical-align: top;
		width:          50%;

		p {
			color:     $white;
			font-size: 32px;
			font-size: 3.2rem;
		}
	}
}
