@import "variables";
@import "functions";

.solutions-intro {
	background: $grey2;

	.column {
		display:        inline-block;
		height:         600px;
		vertical-align: top;
		width:          50%;

		h1 {
			margin-left: 180px;
			text-align:  right;
			width:       300px;
		}
		img {
			margin: 70px 0 0 80px;
		}
	}
}

.solutions-bar {
	background: $dark;
	color: $white;
	height: 65px;
	line-height: 1;

	.cage {
		height: 100%;
	}

	.label {
		font-family: $light;
		font-size: 44px;
    	font-size: 4.4rem;
		text-align: center;
	}
}

.solutions-casestudy {
	background: $grey2;

	.column {
		display: inline-block;
		text-align: center;
		vertical-align: top;
		width: 50%;

		.title {
			color: $dark;
			font-family: $bold;
			font-size: 48px;
			font-size: 4.8rem;
			margin: 80px 0 30px;

			span {
				border-bottom: 3px solid $red4;
			}
		}

		ul {
			font-size: 24px;
			font-size: 2.4rem;
			list-style: disc;
			margin: 0 auto;
			text-align: left;
			width: 80%;

			li {
				display: block;
				list-style: disc;
				padding: 10px;
			}
		}
	}
	.column.col-left { border-right: 1px solid $white; }
	.column.col-right { border-left: 1px solid $white; }

}

.solutions-atwork {
	padding: 35px 0;

	.column {
		display: inline-block;
		padding: 50px 0;
		vertical-align: top;
		width:   50%;

		.atwork-head {
			display: inline-block;
			font-family: $bold;
			font-size: 24px;
			font-size: 2.4rem;
			text-align: center;
			vertical-align: top;
			width: 200px;

			img {
				height: auto;
				max-width: 180px;
				padding: 10px;
			}
		}
		.atwork-body {
			display: inline-block;
			vertical-align: top;
			width: 310px;

			p {
				font-family: $light;
				font-size: 24px;
				font-size: 2.4rem;
				padding: 0 10px;
			}
		}
	}
}

/*
.solutions-intro {
	padding: 30px 0;

	.intro-block {
		display:        inline-block;
		vertical-align: top;
		width:          50%;
	}
	.intro-block.center {
		text-align: center;
	}
	.intro-block.right {
		text-align: right;
	}
	.intro-block.bottom {
		vertical-align: bottom;
	}
}
.solutions-intro.no-padding {
	padding: 30px 0 0;
}

.slides-container {
	background:  $dark;
	height:      430px;
	min-width:   $width;
	padding-top: 0;
	width:       100%;

	.slides-content {
		height:     430px;
		margin:     0 auto;
		overflow:   hidden;
		position:   relative;
		text-align: center;
		width:      924px;

		.slide {
			height:   430px;
			left:     0;
			position: absolute;
			top:      0;
			width:    100%;
			z-index:  2;

			.cage {
				height: 100%;
			}

			img {
				padding:   25px 0;
				max-width: 50%;
			}
		}
		.slide.animated {
			@include transition(left .6s, transform .6s);
		}
		.slide.next {
			left: 50%;
		}
		.slide.nnext {
			left: 100%;
		}
		.slide.prev {
			left: -50%;
		}
		.slide.pprev {
			left: -100%;
		}
		.slide.hide {
			z-index: 1;
			@include transform(scale(.7, .7));
		}
		.slide.hide.nnext, .slide.hide.pprev {
			@include transform(scale(.3, .3));
		}

	}

	.slides-nav {
		position: relative;
		z-index:  3;

		.button {
			cursor:   pointer;
			height:   430px;
			position: absolute;
			top:      0;
			width:    50px;
		}
		.button.prev {
			background: url(../img/button-prev.png) 0 50% no-repeat;
			left:       0;
		}
		.button.next {
			background: url(../img/button-next.png) 100% 50% no-repeat;
			right:      0;
		}
	}
}
*/
/*
.solutions-box {
	min-width: $width;
	width:     100%;

	.box-container {
		height:   260px;
		overflow: hidden;

		.box-content-text {
			color:   $white;
			display: inline-block;
			height:  260px;
			padding: 0 0 0 30px;
			width:   50%;

			h1, h2, h3, h4 {
				margin-top: 0;
			}

			p {
				font-size:     16px;
				font-size:     1.6rem;
				line-height:   28px;
				line-height:   2.8rem;
				margin-bottom: 0;
			}
		}
		.box-content-text.padding {
			padding: 0 30px;
		}

		.box-content-image {
			background-position: 50% 50%;
			background-repeat:   no-repeat;
			background-size:     cover;
			display:             inline-block;
			height:              260px;
			position:            relative;
			text-align:          center;
			width:               50%;

			.box-content-alpha {
				background: url(../img/alpha50.png) 0 0 repeat;
				height:     100%;
				left:       0;
				position:   absolute;
				top:        0;
				width:      100%;
				@include transition(opacity .2s);
			}

			.table-container {
				position: relative;
			}

			.point-container {
				background: url(../img/point.png) 50% 0 no-repeat;
				display:    inline-block;
				height:     123px;
				position:   relative;
				text-align: center;
				width:      123px;

				.point-icon {
					background-position: 50% 50%;
					background-repeat:   no-repeat;
					height:              123px;
					width:               123px;
				}

				.point-text {
					color:       $white;
					font-family: $bold;
					font-size:   20px;
					font-size:   2.0rem;
					height:      25px;
					line-height: 1;
					text-align:  center;
				}
			}
		}

		a:hover {
			color: inherit;

			.box-content-alpha {
				opacity: .5;
			}
		}
	}
	.box-container.black {
		background: $black3;
	}
	.box-container.grey {
		background: $dark50;
	}
	.box-container.green {
		background: $grey2;

		.box-content-text {
			color: $dark;
		}
	}
}
*/

.solutions-image {
	padding:    32px 0;
	text-align: center;

	.image-container {
		.image-box {

			p {
				color:     $dark50 !important;
				font-size: 10px !important;
				font-size: 1.2rem !important;
			}
		}
	}
}

/*
.homepage-automotive.solutions {
	background:     $grey;
	padding-bottom: 25px;
}
*/
