@import "variables";

.table-container {
	display: table;
	height:  100%;
	width:   100%;

	.table-content {
		display:        table-cell;
		vertical-align: middle;
	}
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}

ul {
	list-style-type: none;
	margin:          0;
	padding:         0;

	li {
		display:      inline-block;
		padding:      0 20px;
		list-style:   none;
	}

	li.last {
		border-right: 0 !important;
	}
}

.kit-link {
	background:     url(../img/kit-arrow.png) 100% 50% no-repeat;
	padding-right:  24px;
	text-transform: uppercase;
}

a:hover {
	color: $dark30;
}
