@import "variables";

@font-face {
    font-family: $black;
    src: url('../fonts/BrixSansBlack.woff2') format('woff2'),
         url('../fonts/BrixSansBlack.woff') format('woff'),
         url('../fonts/BrixSansBlack.ttf') format('truetype');
    font-weight: $normal;
    font-style: normal;
}

@font-face {
    font-family: $bold;
    src: url('../fonts/BrixSansBold.woff2') format('woff2'),
         url('../fonts/BrixSansBold.woff') format('woff'),
	     url('../fonts/BrixSansBold.ttf') format('truetype');
    font-weight: $normal;
    font-style: normal;
}

@font-face {
    font-family: $light;
    src: url('../fonts/BrixSansLight.woff2') format('woff2'),
         url('../fonts/BrixSansLight.woff') format('woff'),
	     url('../fonts/BrixSansLight.ttf') format('truetype');
    font-weight: $normal;
    font-style: normal;
}

@font-face {
    font-family: $medium;
    src: url('../fonts/BrixSansMedium.woff2') format('woff2'),
         url('../fonts/BrixSansMedium.woff') format('woff'),
	     url('../fonts/BrixSansMedium.ttf') format('truetype');
    font-weight: $normal;
    font-style: normal;
}

@font-face {
    font-family: $regular;
    src: url('../fonts/BrixSansRegular.woff2') format('woff2'),
         url('../fonts/BrixSansRegular.woff') format('woff'),
	     url('../fonts/BrixSansRegular.ttf') format('truetype');
    font-weight: $normal;
    font-style: normal;
}
