@import "variables";
@import "functions";

.site-footer {
	background: url(../img/footer-2500.jpg) 50% 50% no-repeat;
	bottom:     0;
	height:     310px;
	left:       0;
	min-width:  $width;
	position:   absolute;
	width:      100%;

	.footer-background {
		background: url(../img/alpha80.png) 0 0 repeat;
		height:     100%;
		width:      100%;
	}

	.footer-menu {
		color:          $white;
		font-size:      18px;
		font-size:      1.8rem;
		text-align:     center;

		.footer-logo {
			padding:    60px 0 40px;
			text-align: center;

			img {
				display: inline-block;
			}
		}

		.secondary-menu {
			border-bottom:  1px solid $grey3;
			padding-bottom: 70px;

			ul li {
				padding: 0 14px;
			}
		}

		.footer-info {
			padding-top: 20px;

			p {
				color:       $white;
				font-size:   16px;
				font-size:   1.6rem;
				line-height: 1;
				margin:      0;
			}

			.footer-left {
				float: left;
			}

			.footer-right {
				float: right;
			}
		}

		ul {

			li {

			}
			li a:hover {

			}
		}
	}

	.footer-twitter {
		background: $red2 url(../img/twitter.png) 10px 50% no-repeat;
		height:     60px;
		left:       0;
		position:   absolute;
		top:        35px;
		width:      130px;
		@include transition(background-color .2s);

		.twitter-label {
			color:       $white;
			font-size:   15px;
			font-size:   1.5rem;
			font-weight: $light;
			margin-left: 41px;
			text-align:  center;
			width:       81px;
		}
	}
	.footer-twitter:hover {
		background-color: $red1;
	}
}

/* Footer background: https://www.mapbox.com/studio/styles/subsire/ciqgevpc0000zecnhecu2dgk4/static/ */
@media screen and (max-width: 1920px) {
	.site-footer {
		background: url(../img/footer-1920.jpg) 50% 50% no-repeat;
	}
}
@media screen and (max-width: 1280px) {
	.site-footer {
		background: url(../img/footer-1280.jpg) 50% 50% no-repeat;
	}
}
@media screen and (max-width: 1024px) {
	.site-footer {
		background: url(../img/footer-1024.jpg) 50% 50% no-repeat;
	}
}

.site-inner.contacts .site-footer {
	background: none;
}
