@import "variables";
@import "functions";

.site-header {
    background: $grey2;

    .header-request {
        background: $dark;
        color:      $white;
        height:     48px;
        min-width:  $width;
        padding:    10px;
        width:      100%;
        font-size:  14px;
    }

    .header-nav {
        /*border-bottom:  1px solid $grey2;*/
        color:          $dark;
        height:         83px;
        /*margin:         0 auto 15px;*/
        margin:         0 auto;
        padding-bottom: 30px;
        width:          $width;

        .logo {
            float:       left;
            padding-top: 20px;

            img {
                display: block;
            }
        }
        .main-menu {
            color:          $dark;
            float:          right;
            font-size:      24px;
            font-size:      2.4rem;
            padding-top:    30px;
            text-transform: uppercase;

            ul {

                li {
                    padding:        0;
                    position:       relative;
                    text-align:     center;
                    vertical-align: top;

                    a {
                        display:    inline-block;
                        padding:    0 20px;
                        text-align: center;
                    }
                    a::after {
                        display:     block;
                        content:     attr(title);
                        font-family: $bold;
                        height:      1px;
                        color:       transparent;
                        overflow:    hidden;
                        visibility:  hidden;
                    }

                    ul.item-children {
                        background: $dark;
                        left:       0;
                        opacity:    0;
                        margin-top: 9px;
                        padding:    10px 18px 5px;
                        position:   absolute;
                        visibility: hidden;
                        top:        100%;
                        z-index:    1;
                        @include transition(opacity .2s, visibility .2s);

                        li {
                            display:     block;
                            font-size:   14px;
                            font-size:   1.4rem;
                            padding:     6px 0;
                            text-align:  left;
                            white-space: nowrap;

                            a {
                                color:       $white !important;
                                font-family: $light !important;

                                padding:0;
                            }
                        }
                        li.active a, li a:hover {
                            color:           inherit;
                            text-decoration: underline;
                        }

                        .triangle {
                            background: url(../img/triangle.png) 20px 0 no-repeat;
                            height:     9px;
                            left:       0;
                            position:   absolute;
                            top:        -9px;
                            width:      100%;
                        }
                    }
                }
                li:hover {

                    ul.item-children {
                        opacity:    1;
                        visibility: visible;
                    }
                }

                li:hover a, li.active a {
                    /*color:       $black1;
                    font-family: $bold;*/
                    span {
                        border-bottom: 3px solid $red4;
                    }
                }

                li.search {
                    padding:      0 10px 0 0;
                    width:        56px;
                    @include transition(width .2s);

                    .search-box {
                        background: url(../img/search.png) 100% 50% no-repeat;
                        border:     1px solid $white;
                        color:      transparent;
                        outline:    none;
                        padding:    2px;
                        width:      100%;
                        @include transition(border .2s, color .2s);
                    }
                }
                li.search.open {
                    width: 250px;

                    .search-box {
                        border: 1px solid $dark;
                        color:  $dark;
                    }
                }
            }
        }
    }
}

.site-header.dark {
    background: $dark;

    .header-nav {

        .main-menu {
            color: $white;

            ul {

                li:hover a, li.active a {
                    /*color:       $white;
                    font-family: $bold;*/
                }
            }
        }
    }
}
