@import "variables";
@import "functions";

@media only screen and (max-device-width: $width) {

.site-header {

	.header-nav {
		width: auto;

		.logo {
			float: none;
			margin: 0 auto;
			width: 200px;
		}

		.main-menu {

			ul {
				text-align: center;
			}
		}
	}
}

.column {
	display: block !important;
	width: auto !important;
}
img { max-width: 100%;}
.cage { width: 100%; }

}
