@import "variables";

h1 {
	/*font-family: $light;*/
	font-family: $bold;
	/*font-size:   36px;
	font-size:   3.6rem;*/
	font-size:   48px;
	font-size:   4.8rem;
	font-weight: normal;
}
h1 span {
	border-bottom: 3px solid $green5;
}
h2 {
	font-family: $medium;
	font-size:   30px;
	font-size:   3.0rem;
}
h3 {
	font-family: $light;
	font-size:   36px;
	font-size:   3.6rem;
	font-weight: normal;
}
h4 {
	font-family: $bold;
	font-size:   20px;
	font-size:   2.0rem;
}

html, body {
	color: $dark;
}

p {
	/*font-size:     20px;
	font-size:     2.0rem;*/
	font-size:     24px;
	font-size:     2.4rem;
	margin-bottom: 30px;
}
