// Colors
$black1 : #000000;
$black2 : #262626;
$black3 : #4a4a4a;
$black4 : #4c4c4c;
$blue   : #4c7695;
$blue2  : #4e7694;
$dark   : #3a3c3f; // #4a4a4a;
$dark84 : #676767; // dark 84%
$dark50 : #a4a4a4; // dark 50%
$dark30 : #c8c8c8; // dark 30%
$green1 : #00beb4;
$green2 : #80dad7;
$green3 : #f0f9f8;
$green4 : #3CD0C8;
$green5 : #2ab7a6;
$grey   : #f5f5f7; // #9b9b9b;
$grey2  : #eaebef;
$grey3  : #979797;
$red1   : #d0021b;
$red2   : #e56a60;
$red3   : #e45e52;
$red4	: #e84d47;
$white  : #ffffff;

// Font weight
$light  : 300;
$normal : 400;
$strong : 700;

// Font family
$black   : 'BrixSansBlack';
$bold    : 'BrixSansBold';
$light   : 'BrixSansLight';
$medium  : 'BrixSansMedium';
$regular : 'BrixSansRegular';

// Miscellaneous
$width : 1024px;
